.advantage {
    min-height: 475px;
    padding: 73px 0 65px 0 ;
    background: #F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subheader {
        margin-top: 35px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a{
            color: #FF0000;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 3s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}